@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Libre+Caslon+Text&family=Source+Sans+Pro:wght@300;400;700&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
:root {
  --background-color: #ffffff;
  --primary-text-color: #000000;
  --navbar-height: 8rem;
  --navbar-width: 85%;
  --menu-item-color: #333;
  --logo-size: 2.5rem;
  /*__% av navbarens height*/
  --logo-color: #f26c64;
  --hero-height: max(55vh, 15rem);
  --hero-margin: 3.5rem;
  --content-width: 60%
;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

body {
  color: var(--primary-text-color);
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-color);
}

.nav__content {
  width: var(--navbar-width);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
}

.nav .menu__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .3rem;
  cursor: pointer;
  color: var(--menu-item-color);
}

.nav .menu__list__item .icon {
  font-size: 1.6rem;
}

.nav .menu__list__item .item__text {
  font-family: 'Varela Round',sans-serif;
  letter-spacing: -0.03rem;
  font-weight: 400;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
}

.icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal input {
  width: 25rem;
  height: 5rem;
  padding: .2rem 1.5rem;
  background: var(--background-color);
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  border: 2px solid var(--background-color);
  outline: none;
  border-radius: 1rem;
  -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.modal input:hover {
  border: 2px solid #333;
}

.modal input:focus {
  border: 3px solid black;
}

.logo {
  height: var(--logo-size);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: absolute;
}

.logo__link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: .5rem;
}

.logo__link--image {
  height: 100%;
}

.logo__link--text {
  font-family: 'Varela Round', sans-serif;
  font-size: 200%;
  font-weight: 700;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  margin: 0;
  color: var(--logo-color);
}

@media only screen and (min-width: 1800px) {
  .logo__link--text {
    display: block;
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .menu {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  .menu__list {
    gap: 2rem !important;
  }
}

@media only screen and (max-width: 880px) {
  .item__text {
    display: none;
  }
}

main {
  width: 100%;
  margin-top: var(--navbar-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .hero {
  width: 100vw;
  height: var(--hero-height);
  margin-bottom: var(--hero-margin);
  background-image: url(https://images.unsplash.com/photo-1561126841-3e34af7b2804?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
  background-position: center center;
}

main .content {
  width: var(--content-width);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.8rem;
  font-weight: 100;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */